import React from 'react';

import styles from './{{ kebabCaseName }}.module.css';

type {{ componentName }}Props = {};

const {{ componentName }} = ({}: {{ componentName }}Props) => {
  return (
    <div className={styles.container}>
      <div className={styles.title}></div>
      <div className={styles.content}></div>
    </div>
  );
};

export default {{ componentName }};
